@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div style="margin-left:auto;margin-right:auto;">
    Product Management
</div> 

<div>
    <li>Building</li>
    <li>Battery</li>
    <li>Column</li>
    <li>Elevator</li>
</div>

@* Building *@

<div>
  <table>
    <tr>
      <th>   |   </th>
      <th>Building ID</th>
      <th>   |   </th>
      <th>Address ID</th>
      <th>   |   </th>
      <th>Tech Name</th>
      <th>   |   </th>
      <th>Tech Phone</th>
      <th>   |   </th>
    </tr>
  </table>
</div>

@* Battery *@

<div>
 <table>
   <tr>
    <th>   |   </th>
     <th>Battery ID</th>
     <th>   |   </th>
     <th>Building Type</th>
     <th>   |   </th>
     <th>Status</th>
     <th>   |   </th>
     <th>Employee ID</th>
     <th>   |   </th>
   </tr>
 </table>
</div>

@* Column *@

<div>
  <table>
    <tr>
      <th>   |   </th>
      <th>Column ID</th>
      <th>   |   </th>
      <th>Floor</th>
      <th>   |   </th>
      <th>Status</th>
      <th>   |   </th>
      <th>Information</th>
      <th>   |   </th>
    </tr>
  </table>
</div>

@* Elevator *@

<div>
  <table>
    <tr>
      <th>   |   </th>
      <th>Elevator ID</th>
      <th>   |   </th>
      <th>Serial Number</th>
      <th>   |   </th>
      <th>Eleator Status</th>
      <th>   |   </th>
      <th>Certificate Number</th>
      <th>   |   </th>
    </tr>
  </table>
</div>
