@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div style="margin-left:auto;margin-right:auto;">
    Product Management
</div> 

<br>
<br>

@if (SignInManager.IsSignedIn(User))
{
    <div class="form-group">
        <label for="customer_idd"></label>
        <input type="text" id="customer_emaill" name="customer[emaill]" value="@UserManager.GetUserName(User)" readonly="">
    </div>
}

<br>
<br>

<div>
    <h2>
      <a id="buildingButton"> Building </a>
    </h2>
</div>

<div id="buildingData">
  <table>
    <tr>
      <th scope="col">Building ID</th>
      <th scope="col">Address ID</th>
      <th scope="col">Tech Name</th>
      <th scope="col">Tech Phone</th>
    </tr>
  </table>
</div>

<br>
<br>

<div>
    <h2>
      <a id="batteryTag"> Battery </a>
    </h2>
</div>

<div id="batteryData">
 <table>
   <tr>
     <th scope="col">Battery ID</th>
     <th scope="col">Building Type</th>
     <th scope="col">Status</th>
     <th scope="col">Employee ID</th>
   </tr>
 </table>
</div>

<br>
<br>

<div>
    <h2>
      <a id="columnTag"> Column </a>
    </h2>
</div>

<div id="columnData">
  <table>
    <tr>
      <th scope="col">Column ID</th>
      <th scope="col">Floor</th>
      <th scope="col">Status</th>
      <th scope="col">Information</th>
    </tr>
  </table>
</div>

<div>
    <h2>
      <a id="elevatorTag"> Elevator </a>
    </h2>
</div>

<div id="elevatorData">
  <table>
    <tr>
      <th scope="col">Elevator ID</th>
      <th scope="col">Serial Number</th>
      <th scope="col">Elevator Status</th>
      <th scope="col">Certificate Number</th>
    </tr>
  </table>
</div>

